:root{
    --primary:#f4f4f4;
    --secondary:#2b6837;
    --third:white;
}

body{
    margin: 0px;
background-color: var(--primary)
}
.section{
    width: 100%;
    height: 15vh;
    color:var(--third);
    background-color: var(--secondary)
}
.section span{
    padding: 30px;
    font-size: 200%;
    text-align: center;
    line-height: 1;
    display: block;
    font-weight: 700;
}

header {
    width: 100%;
    padding: 0.7em;
    font-size: 130%;
    top: 30vh;
    text-align: center;
  }

  nav a {
    text-decoration: none;
    opacity: .7;
    padding: 0 .5em;
    width: 10%;
    margin: 0 4px;
    color: black;
    transition: opacity .3s ease-in-out;
  }
  nav a:hover
   {
    opacity: 0.1;
  }

.content{
    margin:1em 5em;
    text-align: center;
    background-color: var(--third);
}
.article{
    margin:  10px 110px;
    text-align:  justify;
}
.footer{
    padding: 10px;
  width: 100%;
  border-radius: 0;
  position: relative;
    text-align: center;
    color:var(--third);
    background-color: var(--secondary);
}